body{
    width:100%;
    height:100%;
    box-sizing: border-box;
}

.Top__Nav__section {
    height: 70px;
}

.Top__Nav__section .Nav__container div select{
    border: none;
    outline:none;
}

.Hero__section{
    border: 1px solid black;
    height: 35vw;
    background-image: url("../Assets/images/hero/h1_hero.jpg");
    object-fit: cover;
}
