body {
  width: auto;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.Top__Nav__section {
  height: 70px;
  width: 100vw;
}

.Top__Nav__section .Nav__container div select {
  border: none;
  outline: none;
}

.Hero__section {
  height: 650px;
  box-sizing: border-box;
  background-image: url("../Assets/images/hero/h1_hero.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
}

/* header{
    position: relative;
} */

header .Bot__Nav__section{
    z-index: 1000;
    position: sticky;
    top: 1px;

}
header .Bot__Nav__section .Navbar__Bot{
    background-color: rgba(255, 255, 255, 0.348);
    backdrop-filter: blur(10px);
}

main ul li a{
  color: black;
}

main .Main__Banner__top{
  background-image: url("../Assets/images/categori/card.png");
  object-fit:fill;
  height: 700px;
  margin-top:15%;
}
