body {
  width: auto;
  height: 100%;
  box-sizing: border-box;

  overflow-x: hidden;
}

.Top__Nav__section {
  height: 70px;
  width: 100vw;
}

.Top__Nav__section .Nav__container div select {
  border: none;
  outline: none;
}

.Hero__section {
  height: 650px;
  box-sizing: border-box;
  background-image: url("../Assets/images/hero/h1_hero.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
}

/* header{
    position: relative;
} */

header .Bot__Nav__section{
    z-index: 1000;
    position: sticky;
    top: 1px;

}
header .Bot__Nav__section .Navbar__Bot{
    background-color: rgba(255, 255, 255, 0.348);
    backdrop-filter: blur(10px);
}

main ul li a{
  color: black;
}

main .Main__Banner__top{
  background-image: url("../Assets/images/categori/card.png");
  object-fit:fill;
  height: 600px;
  margin-top:15%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

li{
  cursor: pointer;
}

.Best__collection{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}